<style type="text/css">
#loginfondo {
	background-image: url(..\img\mona.png);
	position: absolute;
	left: 98px;
	top: 26px;
	width: 30px;
	height: 17px;
	z-index: 1;
	

}

#logocimps {
	position: absolute;
	left: 225px;
	top: 152px;
	width: 165px;
	height: 146px;\
	z-index: 2;
}
#fomulario {
	position: absolute;
	left: 683px;
	top: 179px;
	width: 315px;
	height: 295px;
	z-index: 3;
}
</style>